<section id="about" class="about">
    <div class="about-content">
      <h2 class="about-title">Sobre Mí 🧑‍💻</h2>
      <p class="about-description">
        👋 ¡Hola! Soy un apasionado desarrollador web con experiencia en la creación de sitios web modernos y funcionales.
      </p>
      <p class="about-description">
        🚀 Me encanta aprender nuevas tecnologías y afrontar desafíos para ofrecer soluciones innovadoras.
      </p>
      <div class="skills" >
        <h3 class="skills-title">Habilidades 💪</h3>
        <ul class="skills-list" >
          <li>Fuerza</li>
          <li>Resistencia</li>
          <li>Hipertrofia</li>
          <li>Definición muscular "estoy obeso"</li>
          <li>Flexibilidad</li>
          <li>Equilibrio</li>
        </ul>
      </div>
    </div>
    <div class="about-image">
      <img src="your-image-url.jpg" alt="Tu Imagen 🖼️" class="profile-image">
    </div>
  </section>
  